:root{
    --primary-font:'Poppins', sans-serif;
    --primary-color: rgb(221, 221, 255);
    --white-color:#fff;
    --shadow-color:rgb(146, 161, 250);
    --btn-color:rgb(128, 146, 245);
    --deep-color:#7849f9;
}


.container-fluid{
    padding: 0px!important;
}
ul{
    padding: 0px;
    margin: 0px;
}
.main{

}

.btn-primary{
    background-color: var(--btn-color);
    border: none;
    font-size: 16px;
    font-family: var(--primary-font);
}

.btn-primary:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--deep-color);
    border:none;
}

.products-area-upload{
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    padding: 10px;
}
/* sidebar */
.sidebar{
    display: flex;
    justify-content: flex-start;
    background-color:var(--primary-color);
    padding: 40px 0px 40px 40px;
}

.sidebar > ul >li{
    list-style-type: none;
    font-family:var(--primary-font) ;
    margin-bottom: 15px;
    background-color: var(--white-color);
    padding: 15px 20px;
    border-radius: 10px;
}

.sidebar > ul >li > i{
   padding-right:10px ;
}
#active{
    background-color: #8489e8;
    box-shadow: 4px 4px 3px var(--shadow-color);
    color: var(--white-color);
}
/* sidebar */
/* Main body */
.main-body{
    /* border-radius: 16px; */
    background-color:  var(--white-color);
    height: 600px;
    padding: 40px;
}
/* Main body */

/* Product Section */
.products-header{
    width: 100%;
}
.heading-pages{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
}
.add-products-from-container{
    margin: 10px 0;
}
.child{
    padding: 0;
}
/* Product Section */
